<div class="content">
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" style="height:40%; width: 23%; display: inline-block; margin: 10px" *ngFor="let num of items">
    <mat-card [routerLink]="['../blog-post/' + num.title]" (click)="gotoBlog(num.title)" class="mat-elevation-z4" >
    <img mat-card-image style="height:60%" src='{{num.src}}' alt="Photo of a Shiba Inu">
  <mat-card-content>
  <mat-card-title style="height: 40%" id="test">
  {{num.title}}
  </mat-card-title>
    <p style="position: relative; color:grey; text-align: right;">
      22/01
    </p>
  </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<button mat-raised-button style="  left: 48%; bottom: 5%">See more</button>

<h1>{{size}}</h1>
